:root {
    --font-size: 16px;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --body-padding: 2em;
    --body-width: 1000px;
}

:root {
    --bg-color: #eee;
    --body-color: #fff;
    --body-border-color: #ccc;
    --text-color: #222;
    --input-border-color: #999;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #252526;
        --body-color: #1E1E1E;
        --body-border-color: #1f1f1f;
        --text-color: #ddd;
        --input-border-color: #555;
    }
}

html {
    position: relative;
    font-size: var(--font-size);
    font-family: var(--font-family);
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

body {
    padding: var(--body-padding);
    margin: 0;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    background-color: var(--body-color);
}

@media screen and (min-width: 1000px) {
    body {
        max-width: var(--body-width);
        min-height: calc(100vh - var(--body-padding) * 2);
        margin: 2em auto;
        border: solid 1px var(--body-border-color);
    }
}

body.hidden {
    display: none;
}

input {
    vertical-align: middle;
}

input[type="text"],
input[type="number"] {
    font-size: 16px;
    appearance: none;
    background: var(--body-color);
    border: solid 1px var(--input-border-color);
    color: var(--text-color);
    border-radius: 4px;
    padding: 0.25em;
    width: 5em;
}

hr {
    border-width: 4px 0 0 0;
    margin: 2em 0;
}

img {
    max-width: fit-content;
    width: 100%;
    height: auto;
    margin: auto;
}